*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    padding-left: 10%;
    padding-right: 10%;

}
.logo{
    padding-left: 40%;
}
.logo:hover{
    box-shadow: 0px 0px 500px red;
    background-color: rgb(255, 97, 97);
}
.logo img:hover{
    box-shadow: 0px 0px 500px red;
}
.logo img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
nav{
    border: 1px black solid;
    display: inline-flex;
    max-width: 100%;
    width: 100%;
    height: 6rem;
    position: relative;
    top: 1rem;
    border-radius: 30px;
    background-color: #000;
    text-align: center;
}
nav li{
    display:inline-flex;
    font-size: 2rem;
    padding-left: 3rem;
    color: #fff;
    padding-top: 0.6rem;
    padding-left: 10rem;
}
nav ul{
    list-style: none;
    padding-left: 12%;
}
nav a{
    text-decoration: none;
    color:white ;
}
nav a:hover{
    color: white;
}
.gradient-custom{
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.button .btn{
    position: relative;
    top: 2rem;
}
.btn{
    background-color: blue;
    padding: 1rem 18rem 1rem 18rem;
    border: .2rem solid blue;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .3s;
    color: white;
}
.btn:hover{
    background-color:#4a3783;
    color:white;
}
.btn:active{
    background-color: #8d6eec;
    color:white;
}
.open:hover{
    background-color:rgb(47, 0, 198);
    color:white;
}
.open:active{
    background-color: rgb(47, 0, 198);
    color:white;
}


.position-button{
    position: relative;
}
.open{
    background-color: rgb(60, 0, 255);
    padding: .5rem 6rem .5rem 6rem;
    border: .2rem solid rgb(60, 0, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: background .3s;
    color: white;
}
.close{
    position: relative;
    bottom: 6rem;
    left: 30.5%;
}
.carousel-inner img{
    height: 50rem;
}

.modal1{
    background-color: rgba(255, 255, 255,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    display: none;
    z-index: 100;


}
.modal-ouro{
    background-color: white;
    width: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    z-index: 100;
}
.modal-footer{
    padding-left: 50%;
    transform: translate(-5%);
    text-align: center;
    z-index: 100;
}
.carousel{
    position: relative;
    top: 2rem;
}
.carousel img{
    border-radius: 70px;
}
main{
    position: relative;
    top: 8rem;
}
.categorias{
    text-align: center;
}
.button-categorias{
    position: relative;
    top: 10rem;
}
.ball p{
    text-align: center;
    position: relative;
    top: 39%;
    font-size: 3rem;
}
.ball{
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    background-color: #000;
    color: #fff;
    box-shadow: 20px 20px 20px rgb(204, 0, 0);
}
#ball-possion1{
    position: relative;
    left: 20%;
}
#ball-possion2{
   position: relative;
   left: 60%;
   bottom: 20rem;
}
#ball-possion3{
    position: relative;
    left: 20%;
    bottom: 15rem;
}
#ball-possion4{
    position: relative;
    left: 60%;
    bottom: 35rem;
}
#ball-possion5{
    position: relative;
    left: 20%;
    bottom: 30rem;
}
#ball-possion6{
    position: relative;
    left: 60%;
    bottom: 50rem;
}
.card-group{
    display: flex;
}
.card:hover{
vertical-align: middle;
border-style: none;
width: 200%;
height: auto;
-moz-transition: all 0.9s;
-webkit-transition: all 0.9s;
transition: all 0.9s;
box-shadow: 20px 20px 20px black;
}

.card img{
    width: 250px;
    height: 150px;
}
.evento{
    position: relative;
    bottom: 20rem;
}
.show{
    padding-top: 10rem;
}
.cultura{
    padding-top: 10rem;
}
.cultura a, .show a, .evento a{
    text-decoration: none;
    color: black;
}
.evento h2,.show h2,.cultura h2{
    font-size: 3.0rem;
}
footer{
    background-color: #000;
    height: 30rem;
}